
$color-four: rgb(140, 240, 110);


* {
	box-sizing: border-box;
}
.lang_select {
  width: 60px;
  position: fixed;
  right: 20px;
  top: 60px;
  z-index: 10000;
  opacity: 0.6;
}
#menu {
  padding-right: 50px;
  background: $color-four;
  width: 300px;
  height: auto;
  padding-top: 90px;
  padding-left: 30px;
  padding-bottom: 30px;
  display: flex;
  
	visibility: visible;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-radius: 0 0 0 50px;
	transition: all 600ms ease-in-out;
  position: fixed;
	top: -100vh;
	right: 0px;
	&.show {
		top: 0;
	}
}
#navBar {
  margin-right: 50px;
}
.nav_row {
  width: 60px;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 10000;
  height: 60px;
  background-size: cover;
  cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  transition: transform 600ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav_row_in .top {
  stroke-dasharray: 40 172;
}
.nav_row_in .middle {
  stroke-dasharray: 40 111;
}
.nav_row_in .bottom {
  stroke-dasharray: 40 172;
}
.nav_row_in.active .top {
  stroke-dashoffset: -132px;
}
.nav_row_in.active .middle {
  stroke-dashoffset: -71px;
}
.nav_row_in.active .bottom {
  stroke-dashoffset: -132px;
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 1000ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}
.nav-link {
  font-size: 120%;
  text-align: right;
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.nav-item {
  font-size: 115%;

  position: relative;
  color: #fff;
  cursor: pointer;

  &::before, &::after{
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 243, 65, 0.9);
    border-radius: 10px;
    transform-origin: right;
    transition: transform 200ms ease;
    z-index: -1;
    transform: scaleX(0);
  }
  &:hover::before, &:hover::after{
    transform-origin: left;
    transform: scaleX(1);
  }
  &::after{
    z-index: -2;
    filter: blur(30px);
  }
}