@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';


.App {
  text-align: center;
}

.start__global{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.start__ol{

  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.catalog_global-level {
  display: inline-block;
  margin: 20px;  
}

.catalog_first-level{
  display: inline-block;
  margin: 10px;
}
.catalog__second-level-unmod {
  opacity: .3;
}
.catalog__second-level-delete {
  display: none;
}
.catalog__finded-style {
  background-color: yellow;
}
.catalog__header-find-group{
  display: inline-block;
  width: 200px;
}
.catalog__input-find-group{
  display: inline-block;
  width: 200px ;
}
.catalog__button-find-group{
  display: inline-block;
  width: 100px;
}
.article__code {
  text-align: left;
  padding: 30px;
  color:  yellow;
  background-color: rgb(47, 79, 79);
  border-radius: 5px;
}
.article__text {
  font-size: 120%;
  padding: 15px; 
}
.article__header {
  font-size: 180%;
}
.article__link {
  font-size: 120%;
  text-align: right;
  padding: 10px;
  color:  yellow;
  background-color: rgba(205, 133, 63, 0.5);
  border-radius: 5px;
}
.article__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}


.create-article__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.create-article__type-new-block-link {

}
.create-article__non-display {
  display: none;
}

.create-article__create-button {
  height: 38px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 5px;
}
.create-article__uppend-button{
  height: 38px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-top: 50px;
}
.create-article__input {
  margin-bottom: 10px;
}
.create-article__editButton {
  float:right;
  height: 20px;
  width: 20px;

  margin-top: 15px;
}

.create-article__delButton {
  float:right;
  height: 20px;
  width: 20px;

  margin-top: 15px;
}
.create-article__edit-delete {
}
.create-article__block {
  width: 90%;
  float: left;
}
.create-article__article-element {
  border: 1px solid gray;
  display: block;
}
.create-article__redaction-article-block {
  margin:40px;
  border: 3px solid black;
  border-radius: 10px;
}




.admin__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.admin__nonDisplay {
  display: none;
}
.admin__selector {
  width: 50px;
}
.admin__grade {
  width: 100%;
  height: 10px;
}






.cssload-container {
  width: 100%;
  height: 294px;
  text-align: center;
}

.cssload-zenith {
  width: 294px;
  height: 294px;
  margin: 0 auto;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  box-shadow: 18px 18px 6px rgb(0,0,0);
  animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}

.newArticlesList__article{
  width: 500px;
  height: 70px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(92, 161, 156, 0.2) ;
  margin-top: 10px;

}
.newArticlesList__link{
  margin-top: 10px;
  font-size: 140%;
}
.newArticlesList__context {
  text-align: right;
  opacity: 0.5;
}

.structure__container{
  display: grid;

  grid-template-columns: 100px auto;
  grid-gap: 1vw;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
}
.structure__type {
  width: 300px;
  display: inline-block;
}
.structure__typeButton{
  width: 100px;
  height: 100%;
  float: left;
  margin-top: 2px;
  margin-bottom: 10px;
}
.structure__underType {
  display: block;
}
.structure__block {
  margin-top: 20px;
}


.comments__container {
  margin-top: 40px;
}

.comments__title {
  text-align: left;
  opacity: 0.4;
}
.comments__block {
  width: 600px;
  border: 1px solid #EABDBD;
  border-radius: 10px;
  margin-bottom: 20px;
}
.comments__header {
  margin-left: 30px;
  float: left;
  display: inline;
  opacity: 0.7;
}
.comments__date {
  margin-right: 30px;
  opacity: 0.3;
  float: right;
  display: inline;
}
.comments__text {
  width: 100%;
  display: block;
  text-align: left;
  padding: 30px;
}
.comments__author {
  text-align: right;
  margin-right: 30px;
  opacity: 0.3;

}
.comments__uppend {
  height: 50px;
  padding: 13px;
  background-color: #EABDBD;
  width: 100%;
  border-radius: 10px;
}



@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}