@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';


.App {
  text-align: center;
}

.start__global{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.start__ol{

  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.catalog_global-level {
  display: inline-block;
  margin: 20px;  
}

.catalog_first-level{
  display: inline-block;
  margin: 10px;
}

.article__code {
 text-align: left;
 padding: 30px;
 color:  yellow;
 background-color: rgb(47, 79, 79);
 border-radius: 5px;
}
.article__text {
  font-size: 120%;
  padding: 15px; 
}
.article__header {
  font-size: 180%;
}
.article__link {
  font-size: 120%;
  text-align: right;
  padding: 10px;
  color:  yellow;
  background-color: rgba(205, 133, 63, 0.5);
  border-radius: 5px;
}
.article__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.create-article__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.create-article__type-new-block-no-link {
  display: none;
}
.create-article__type-new-block-link {

}
.create-article__non-display {
  display: none;
}